
<div>
  <h1 style="text-align:right;margin-right: 100px;">Sopa de letras        </h1>
  <div class="matrix-container">
    <table>
      <tr *ngFor="let row of soup; let rowIndex = index">
        <td *ngFor="let letter of row; let colIndex = index"
            [id]="'cell-' + rowIndex + '-' + colIndex"
            (click)="onLetterClick(rowIndex, colIndex)"
            style="width: 30px; height: 30px; text-align: center; border: 1px solid black;">
          {{ letter }}
        </td>
      </tr>
    </table>


    <div class="found-words">
      <div *ngIf="allWordsFound" class="alert">
        <h2>¡Has ganado!</h2>
      </div>
      <h2>Palabras encontradas:</h2>
      <ul>
        <li *ngFor="let word of words" [ngStyle]="{'background-color': foundWords.has(word) ? 'green' : null}">{{ word }}</li>
      </ul>
    </div>
  </div>





</div>
